@charset "UTF-8";


/* 스타일 초기화 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,
code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,form,label,
legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,
hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,fieldset,button {
  margin: 0;  padding: 0;  border: 0;  box-sizing: border-box; font:inherit;  font-family: 'Noto Sans KR', sans-serif;
  color: #222;  text-decoration: none;  list-style: none;  border-collapse: collapse;  border-spacing: 0;
  
}
/* HTML5 display-role reset for older browsers */
/* 익스플로러 하위버전은 해당 태그를 인식하지 못한다. 인식하지 못하는 태그는 inline 요소로 들어가기때문에 width, height등의 속성 설정이 안된다. */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main {
  display: block;
}
ul {
  list-style: none;
}
table {
  border-collapse: collapse;  border-spacing: 0;
}
/******** CSS 모듈 ********/
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
/******** 숨김 콘텐츠 ********/
.readable-hidden,
.skip-nav,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}
.skip-nav:focus {
  width: 100%;
  height: auto;
  padding: 1em;
  background: #000;
  color: #fff;
  text-align: center;
  margin: 0;
  clip: rect(auto, auto, auto, auto);
  z-index: 100;
}
img {
  width: 100%;
}
// drag selection style
::selection{
  background-color:pink;
}
// scroll bar style
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: pink; 
  border-radius: 10px;
}

// font
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,500');
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

// variable
$url-images: "../images/";
$color-main: #b7dbf3;
$color-menu: #6a6a6a;
$color-bg : #fcfcfc;

// mixin

@mixin font-monts($weight){
  font-family: 'Montserrat', sans-serif;
  font-weight: $weight
}
@mixin font-mj{
  font-family: 'Major Mono Display', monospace;
}
@mixin font-nanum{
  font-family: 'Nanum Gothic', sans-serif;
}
@mixin font-main($weight){
  font-family: 'Titillium Web', sans-serif;
  font-weight: $weight
}
// common width 1200
@mixin common-width{
  max-width:1200px;
  margin:0 auto;
}

@mixin grid-basic{  
  display:grid;
  grid-gap: 20px;
  grid-template-columns: repeat(12, 1fr);
}

// section header
@mixin section-header{
  text-align: center;
    span{
      border-bottom:5px solid $color-main;
      display:inline-block;
      line-height:1;
      padding-bottom:15px;
      font-size:1.9rem;
      @include font-monts(600)
    }
}