@charset "UTF-8";

@import "common.scss";

// mobile first ~ 480px
.header {
  background-color: #fff;
  @include common-width;
  $header-height:50px;
  
  // 768 tablet 
  @include breakpoint('tablet'){
    padding:0 2rem;
    position:sticky;
    top:0px;
    border-bottom:1px solid rgba(194, 194, 194, 0.1);
  }
  &__logo{
    text-align: center;
    padding-top:20px;
    
  // 768 tablet 
  @include breakpoint('tablet'){
    text-align: left;
    display:inline-block;
  }
    &__line{
      @include font-main(600);
      font-size:2.2rem;
      display:inline-block;
      line-height: 1;
      background: rgb(255,255,255); /* Old browsers */
      background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 53%, rgba(183,219,243,1) 53%, rgba(183,219,243,1) 53%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 53%,rgba(183,219,243,1) 53%,rgba(183,219,243,1) 53%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 53%,rgba(183,219,243,1) 53%,rgba(183,219,243,1) 53%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b7dbf3',GradientType=0 ); /* IE6-9 */
    }
  }
  // 모바일버전 nav
  &__nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position:sticky;
    top:0px;
    background-color: white;
    transition : all 1s;

    a{
      @include font-main(400);
      display:inline-block;
      line-height: $header-height;
      font-size : 1rem;
      color: $color-menu;
      transition : all 1s;
      &:hover{
        color:$color-main;
      }
    }
    &-scroll_on{
    background-color:rgba(183, 219, 243, 0.8);
      a{
        line-height:40px;
          &:hover{
          color:white;
          }

      }
    }
    // 768 tablet 
    @include breakpoint('tablet'){
      display:none;
    }
  }
  // tablet 이상 버전 nav
  &__nav-web{
    display:none;    
    // 768 tablet 
    @include breakpoint('tablet'){
      display:inline-flex;
      justify-content: flex-end;
      float:right;
      padding-top:20px;
      a{
        @include font-main(400);
        line-height:35px;
        font-size : 1rem;
        color: $color-menu;
        transition : all 1s;
        margin-left:3rem;
        &:hover{
          color:$color-main;
          text-decoration:underline wavy pink;
        }
      }
      
    }
  }
}

.about {
  padding-top:50px;
  @include common-width;
  &__picture {
    width:132px;
    margin: 0.5rem auto 2rem auto;
    img {
      border-radius: 50%;
    }
  }
  &__title{
    @include section-header;
  }
  &__introduce {
    text-align: center;
    padding: 0 2rem;
    max-width:400px;
    margin: 0 auto ;
    &__eng{
      margin-top:15px;
      @include font-main(400);
      font-size:1.1rem;
    }
  }
  &__sns {
    padding: 3rem;
    ul {
      display: flex;
      justify-content: space-between;
      width:200px;
      margin: 0 auto;
      a {
        font-size:1.6rem;
        &:hover{
          color:$color-main;
        }
      }
    }
  }
}
.bg-color{
  background-color: $color-bg;
}
.skill {
  @include common-width;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
  padding:4rem 2rem;
  @include breakpoint('laptop'){
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  }
  h2 {
    margin:0 0 2rem 0;
    @include section-header;
    grid-column: 1/-1;
  }
  &__item{
    grid-column: span 1;
    margin-top:2.5rem;
    h3{
      font-size:1.5rem;
      line-height:1;
      margin-bottom:1rem;
      @include font-main(600);
      text-align:center;
    }
  }
  &__subtitle{
    text-align: center;
    img{
      width:40px;
    }
  }
  &__summary{
    text-align:center;
  }
}
.project {
  padding:4rem 0;
  @include common-width;
  // display:grid;
  // grid-template-columns: repeat(auto-fill, minmax(auto, 500px));
  h2 {
    @include section-header;
    // grid-column: 1/-1;
  }
  &__item{
    margin-top:2.5rem;
    padding:0 2rem;
    display:grid;
    grid-template: repeat(5, auto) / 270px auto;

    h3{
      text-align:center;
      grid-row: span 1;
      grid-column: 1/-1;
      a{
        font-size:1.3rem;
        transition: all 1s;
      &:hover{
        color:$color-main-text;
      
      }
      }
    }
    &::after{
      display:block;
      content:'';
      margin-top:2.5rem;
      border-top: 10px dotted rgba(183, 219, 243, 0.25);
      grid-row: span 1;
      grid-column: 1/-1;
    }
    &:last-child{
      &::after{
        display:none;
      }
    }

  }
  &__period{
    margin-top:0.5rem;
    text-align:center;
    grid-row:span 1;
      grid-column: 1/-1;
    span{
      @include period-tags;
    }
  }
  &__screenshot{
    max-width:230px;
    margin:2rem auto 0 auto;
      grid-row: span 1;
      grid-column: 1/-1;

  }
  &__tags{
    margin:1rem auto 0 auto;
      grid-row: span 1;
      grid-column: 1/-1;
      text-align: center;
    li{
      &::before{
        display: inline-block;
        content : "#";
        margin-right:2px;
      }
      border:1px solid $color-main;
      border-radius: 5px;
      display:inline-block;
      height:22px;
      line-height:20px;
      @include font-main(400);
      font-size:0.9rem;
      padding: 0 10px;
      color:$color-main-text;
      margin:2px 0;
    }
  }
  &__description{
    margin-top:2rem;
      grid-row: span 1;
      grid-column: 1/-1;
      text-align: center;
  }
}
.web__size{
  .project__screenshot{
    max-width:900px;
  }
}
// 768 project
.mb__size{
  @include breakpoint('tablet'){
    h3{
      grid-column: 2/span 1;
      text-align: left;
    }
    .project__period{
      grid-column: 2/span 1;
      text-align: left;

    }
    .project__screenshot{
      grid-column: 1/span 1;
      grid-row:1/-1;
      margin:0 2rem 0 0;

    }
    .project__tags{
      grid-column: 2/span 1;
      text-align: left;
      margin:1rem 0 0 0;


    }
    .project__description{
      grid-column: 2/span 1;
      text-align: left;


    }

  }
}

.activity{
  padding:4rem 0;
  @include common-width;
  h2 {
    @include section-header;
  }
  figure{
    max-width:500px;
    margin:0 auto;
  }
  h3{
    padding:1rem 2rem;
    font-size:1.3rem;
    text-align: center;
  }
  &__period{
    text-align:center;
    span{
      @include period-tags;
    }
  }
  &__description{
    padding:1rem 2rem;
    text-align:center;
    span{
      font-size:0.8rem;
      color:gray;
    }
  }
  &__siots_link{
    padding: 0 2rem;
    display:flex;
    justify-content: space-evenly;
    a{
      display: inline-block;
      line-height:1.6rem;
      color:$color-main;
      @include font-main(400);
      border:1px solid $color-main;
      border-radius: 5px;
      padding:0.5rem 1rem;
      font-size:1.1rem;
      &::before{
        margin-right:6px;
        font-family: "Font Awesome 5 Brands"

      }
      &:hover{
        border-color:$color-yellow;
        color:$color-yellow;
      }
      
    }
  }
}

// footer 푸터
.footer{
  background-color: $color-main;
  text-align: center;
  padding:2rem;
  font-size:0.8rem;
  color:white;
}


//go Top
.go-top{
  position: fixed;
  bottom:2rem;
  left:calc(50% - 20px);
  display:inline-block;
  // background: url('../images/arrow-up-solid.svg') no-repeat 0 50%;
  border:1px solid $color-yellow;
  background-color:  rgba(255, 205, 109, 0.69);
  color:white;
  border-radius: 50%;
  $size:40px;
  width:$size;
  height:$size;
  text-align: center;
  line-height:$size;
  font-size:1rem;
  i{
  color:white;
  font-size:1rem;
  }
  &-hover{
    i{

      // animation
      -webkit-animation-name: goTop;
      animation-name: goTop;
      -webkit-animation-duration: 1.3s;
      animation-duration: 1.3s;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      animation-iteration-count : infinite;
    }
  
  }
}
  
